<%- include('../partials/header') %>
<h2>ADD A FLIGHT</h2>
  <form action="/flights" method="POST">
    <label>AIRLINE:
      <input type="text" name="airline">
    </label><br>
    <label>AIRPORT
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
      </select>
    </label><br>
    <label>FLIGHT #:
        <input type="number" name="flightNo">
    </label><br>
    <label>DEPARTS:
        <input type="datetime-local" name="departs" value="<%= new Date(new Date().setFullYear(new Date().getFullYear() + 1).toLocaleString()) %>">
    </label><br>
    <label>DESTINATIONS:
      <input type="text" name="destinations">
    </label><br>
    <input type="submit" value="Add Flight">
  </form>
<%- include('../partials/footer') %>